<config>
<modules>
<Webmull_Helloworld>
<version>1.0.0</version>
</Webmull_Helloworld>
</modules>
<global>
<blocks>
<helloworld>
<class>Webmull_Helloworld_Block</class>
</helloworld>
</blocks> 
</global>
<frontend>
<routers>
<helloworld>
<use>standard</use>
<args>
<module>Webmull_Helloworld</module>
<frontName>helloworld</frontName>
</args>
</helloworld>
</routers>
<layout>
<updates>
<wishlist module="Webmull_Helloworld">
<file>helloworld.xml</file>
</wishlist>
</updates>
</layout>
</frontend>
</config>